.productbox1{
    border: 1px solid black;
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 12px;
    width: 20rem;
    position: relative;
    margin-top: 1rem;
}

.productimg1 img{

    width: 210px;
    height: 15rem;
    display: block;
    margin: auto;
}

.productcontent p{
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1rem 0rem;
    margin: 0;
}
.productcontent h3 s{
   font-size: 1.3rem;
   font-weight: 100;
}

.productbutton1 button{
    width: 100%;
    border: none;
    padding: 0.6rem;
    font-size: 1.4rem;
    border-radius: 27px;
}





@media (min-width:0px ) and (max-width:600px) {
    

/* =============================== */
/* prodec2box */


.productbox123{
    border: 1px solid black;
    padding: 1rem;
    margin: 0.6rem;
    /* width: 15rem; */
    border-radius: 12px;
    position: relative;
}

.productimg12{
    width: 27xvw;
    margin: auto;

}
.productimg12 img{
    width: 100%;

}
.productcontent1 p{
    font-size: 4.5vw;

}
.productcontent1 h3{
    font-size: 5.5vw;

}
.productcontent1 h3 s{
    font-size: 3.2vw;

}
.productbutton12{
    /* width: 100%; */
    /* margin: auto; */
}
.productbutton12 button{
    font-size: 1.2rem;
    width: 100%;
    padding: 0.4rem;
    background-color: #d9f1e1;
    border-radius: 27px;
    border: none;
}



.productbutton12 i{
    font-size: 1.4rem;
    padding: 0.3rem;
    color: #6d746f;
}

/* ========================== */
}
@media (min-width:600px ) and (max-width:1000px) {
    

/* =============================== */
/* prodec2box */


.productbox123{
    border: 1px solid black;
    padding: 1rem;
    margin: 0.6rem;
    /* width: 15rem; */
    border-radius: 12px;
    position: relative;
}

.productimg12{
    width: 10vw;
    margin: auto;

}
.productimg12 img{
    width: 100%;

}
.productcontent1 p{
    font-size: 2.4vw;

}
.productcontent1 h3{
    font-size: 2.5vw;

}
.productcontent1 h3 s{
    font-size: 2.2vw;

}

.productbutton12 button{
    /* font-size: 1.2rem; */
    width: 100%;
    padding: 0.4rem;
    background-color: #d9f1e1;
    border-radius: 27px;
    border: none;
}



.productbutton12 i{
    font-size: 1.4rem;
    padding: 0.3rem;
    color: #6d746f;
}

/* ========================== */
}
@media (min-width:1000px )  {
    

/* =============================== */
/* prodec2box */


.productbox123{
    border: 1px solid black;
    padding: 1rem;
    margin: 0.6rem;
    /* width: 15rem; */
    border-radius: 12px;
    position: relative;
}

.productimg12{
    width: 10vw;
    margin: auto;

}
.productimg12 img{
    width: 100%;

}
.productcontent1 p{
    font-size: 1.4vw;

}
.productcontent1 h3{
    font-size: 1.5vw;

}
.productcontent1 h3 s{
    font-size: 1.2vw;

}
.productbutton12{
    /* width: 100%; */
    /* margin: auto; */
}
.productbutton12 button{
    font-size: 1.2rem;
    width: 100%;
    padding: 0.4rem;
    background-color: #d9f1e1;
    border-radius: 27px;
    border: none;
}



.productbutton12 i{
    font-size: 1.4rem;
    padding: 0.3rem;
    color: #6d746f;
}

/* ========================== */
}