@media (min-width:0px) and (max-width:600px) {
    .seccontainer{
        padding: 2vw 0rem;
    }
    .seccontainer h2{
        font-size: 8vw;
        width: 70%;
        margin: auto;
        text-align: center;
        padding: 1rem 0rem;
    }
    .seccontainer p{
        font-size: 3.8vw;
        width: 90%;
        margin: auto;
        text-align: center;
    }
}
@media (min-width:600px)  {
    .seccontainer{
        padding: 2vw 0rem;
    }
    .seccontainer h2{
        font-size: 4vw;
        width: 45%;
        margin: auto;
        text-align: center;
        padding: 1rem 0rem;
    }
    .seccontainer p{
        font-size: 1.5vw;
        width: 70%;
        margin: auto;
        text-align: center;
    } 
}