/* 


.toolbar{
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin-left: 20px;
margin-top: 10px;
}

.imglogo img{
width: 40px;
margin-right: 17px;
}
.sidebar{
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  background-color: black;
  color: white;
 
  height: 100vh;
  transform:translateX(0%) ;
 
  transition: all 0.4s;
  z-index: 10000;
}


.downbar{
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 40%;
  background-color: black;
  color: white;
  width: 100%;
  transform:translateY(0%) ;
  transition: all 0.4s;
}


.sidebaropen{
 
  transform:translateX(-100%) ;
  
}
.downbaropen{
  transform:translateY(0%) ;
  
}
.backdrop{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: none;
  z-index: 999;
}

.backdropopen{
  display: block;
}


 */


.backdrop{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgba(91, 89, 89, 0.5);
  width: 100%;
  height: 100vh;
}


.sidebarclosebutton .ilogo{
  padding: 1rem;
  font-size: 2rem;
  color: black;
}
.sidebarclosebutton .ilogo:hover{
  color: black;
}
.sidebarclosebutton .ilogo:active{
  color: rgb(138, 235, 129);
  background-color: white;
}



.sidebar{
  /* background-color: rgb(74, 62, 62); */
  background-color: #fcf9f3;
  color: black;
  z-index: 1000;
  width: 250px;
  position: fixed;
  top: 0;
  right: 0;
  /* bottom: 0; */
  height:100%;
  /* transform: translateX(-250px); */
  transition: all 6s;
  /* display: none; */


}

.closesidebar{
  display: none;
  width: 0;
  transition: all 6s;

}

.sidebarlinks ul li{
  list-style: none;
  font-size: 1.3rem;
  margin: 0.6rem 2rem;
}

.sidebarcardlink{
  padding-left: 4rem;
}
.sidebarcardlink span{
  /* margin: 0rem 1rem; */
  margin-right: 1rem;
}

.sidebarcard{
  /* margin: 1rem; */
}






