.sec3maincontainer{
    background-color: azure;   
    background-image: url('../../img//sec3img.png');
    background-position: center;
    background-repeat: no-repeat;
    
}

.sec3container{
    
 
    width: 90%;
    margin: auto;
    padding: 2vw 0rem;
}




/* midbox */


.sec3midboxs{
    display: flex;
    justify-content: space-between;
    position: relative;
    /* padding: 1rem; */
    margin: 3rem 0rem;

}

.sec3midbox{
    width: 35%;
    position: relative;
    padding: 1rem;
    background-color: white;
    box-shadow: 1px 1px 12px 1px #e5e5ed;
    border-radius: 12px;
}
.sec3midbox h3{
    font-size: 1.7vw;
    padding: 1rem 0rem;
  
}
.sec3midbox p{
    font-size: 1.3vw;
    
}

#absolutediv{
    padding: 0.6rem 0.7rem ;
    background-color: #bcbcd3;
    position: absolute;
    border-radius: 100%;
    top: -20px;
    left: -20px;
    font-size: 1.6vw;
    font-weight: bold;
}
#absolutediv1{
    padding: 0.6rem 0.7rem ;
    background-color: #bcbcd3;
    position: absolute;
    border-radius: 100%;
    top: -20px;
    right: -20px;
    font-size: 1.6vw;
    font-weight: bold;
}

.sec3midboxcontainer{
    width: 90%;
    margin: auto;
    position: relative;
}
