@media (min-width:0px) and (max-width:600px) {

    .shoppageboxs {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        padding-top: 6rem;
        padding-bottom: 4rem;
    }

    .shoppagecatagory {
        background-color: #fcf7ee;
        padding: 1rem;
        border-radius: 12px;

    }

    .shoppagecatagory select {
        width: 18vw;
        border-radius: 27px;
        padding: 0.4rem 0.8rem;
        font-size: 1.4vw;
        margin: 0.9rem;
    }

    .shoppagebox1 #sel {

        padding: 0.4rem 2.5rem;
        font-size: 1.4vw;
        margin: 0.9rem 0rem;
        border-radius: 27px;

    }

    .shoppageproduct {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .shoppagebox1 {
        margin: 0.5rem;
    }


    .shopselectrange {
        background-color: white;
        box-shadow: 1px 1px 12px 1px rgb(215, 215, 218);
        border-radius: 12px;
        padding: 1rem;
    }

    .shoprange {
        padding: 1rem 0rem;
    }


    .shoppagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .shoppagination button {
        font-size: 3vw;
        padding: 0.4rem 0.5rem;
        border-radius: 12px;
        background-color: white;
    }

    .shoppagination p span {
        padding: 0.4rem 0.8rem;
        /* background-color: blue; */
        border-radius: 100%;
        margin-top: 1rem;
    }

    .shoppagination p {

        margin-top: 1rem;
    }

    .countnumber {
        background-color: #fcf7ee;
    }

    .shoppagebox1{
        display: none;
    }


    .shopfilter{
        border-bottom: 1px solid black;
        margin: 1rem 0rem;
        padding-bottom: 1rem;
        font-size: 1.4rem;
    }

    .shopfilter:hover{
        color: blue;
        cursor: pointer;
        

    }





}

@media (min-width:600px) and (max-width:1000px) {

    .shoppageboxs {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        padding-top: 10rem;
        padding-bottom: 4rem;
    }

    .shoppagecatagory {
        background-color: #fcf7ee;
        padding: 1rem;
        border-radius: 12px;

    }

    .shoppagecatagory select {
        width: 18vw;
        border-radius: 27px;
        padding: 0.4rem 0.8rem;
        font-size: 1.4vw;
        margin: 0.9rem;
    }

    .shoppagebox1 #sel {

        padding: 0.4rem 2.5rem;
        font-size: 1.4vw;
        margin: 0.9rem 0rem;
        border-radius: 27px;

    }

    .shoppageproduct {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .shoppagebox1 {
        margin: 0.5rem;
    }


    .shopselectrange {
        background-color: white;
        box-shadow: 1px 1px 12px 1px rgb(215, 215, 218);
        border-radius: 12px;
        padding: 1rem;
    }

    .shoprange {
        padding: 1rem 0rem;
    }


    .shoppagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .shoppagination button {
        font-size: 1.5vw;
        padding: 0.4rem 1rem;
        border-radius: 12px;
        background-color: white;
    }

    .shoppagination p span {
        padding: 0.4rem 0.8rem;
        /* background-color: blue; */
        border-radius: 100%;
        margin-top: 1rem;
    }

    .shoppagination p {

        margin-top: 1rem;
    }

    .countnumber {
        background-color: #fcf7ee;
    }


    .shopfilter{
        display: none;
    }




}

@media (min-width:1000px) {

    .shoppageboxs {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        padding-top: 10rem;
        padding-bottom: 4rem;
    }

    .shoppagecatagory {
        background-color: #fcf7ee;
        padding: 1rem;
        border-radius: 12px;

    }

    .shoppagecatagory select {
        width: 18vw;
        border-radius: 27px;
        padding: 0.4rem 0.8rem;
        font-size: 1.4vw;
        margin: 0.9rem;
    }

    .shoppagebox1 #sel {

        padding: 0.4rem 2.5rem;
        font-size: 1.4vw;
        margin: 0.9rem 0rem;
        border-radius: 27px;

    }

    .shoppageproduct {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .shoppagebox1 {
        margin: 0.5rem;
    }


    .shopselectrange {
        background-color: white;
        box-shadow: 1px 1px 12px 1px rgb(215, 215, 218);
        border-radius: 12px;
        padding: 1rem;
    }

    .shoprange {
        padding: 1rem 0rem;
    }


    .shoppagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .shoppagination button {
        font-size: 1.5vw;
        padding: 0.4rem 1rem;
        border-radius: 12px;
        background-color: white;
    }

    .shoppagination p span {
        padding: 0.4rem 0.8rem;
        /* background-color: blue; */
        border-radius: 100%;
        margin-top: 1rem;
    }

    .shoppagination p {

        margin-top: 1rem;
    }

    .countnumber {
        background-color: #fcf7ee;
    }


    .shopfilter{
        display: none;
    }




}