@media (min-width:0px) and (max-width:600px) {
    
.chaeckoutpagecontainer{
    background-color: #fcf9f3;
}

.chaeckoutpagecontainer{
    /* padding: 10rem 0rem; */
    padding-top: 7rem;
    padding-bottom: 3rem;
}

.checkoutpageboxs{
    display: flex;
    justify-content: center;
    position: relative;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.checkoutpagebox{
    width: 99%;

}
.checkoutpageboxheading{
    display: flex;
    justify-content: space-between;
}
.checkoutpageboxheading h3{
   font-size: 4.4vw;
}
.checkoutpagebase{
    display: flex;
    justify-content: space-between;
    /* margin: 1rem 0rem; */
}
.checkoutpagebase p{
    font-size: 3.9vw;
}
.checkoutpagebase p span{
    font-size: 2.9vw;
    
}

.checkboxsigninbutton{
    padding-bottom: 1rem;
}

.forminput p{
    font-size: 4.7vw;
}

.checkoutform{
    padding-bottom:1rem;
    border-bottom: 1px solid black;
}
.selectform{
    width: 100%;
    padding: 0.4rem;
    border: none;
    background-color: transparent;
    font-size: 4.7vw;
    font-weight: 500;
    margin: 0.5rem 0rem;
}
.selectform h4{
    padding: 1rem 0rem;
}
.applycupan{
    display: flex;
    justify-content: space-between;
}
.applycupan input{
    width: 70%;
    padding: 0.3rem;
    border-radius: 12px;
    border: none;
}
.applycupan span{
    font-size: 4.7vw;
    background-color: #d9f1e1;
    border-radius: 27px;
    padding: 0.6rem 1rem;

}

.checkoutform123{
    margin: 2rem 0rem;
}
.checkoutform123 button{
    width: 100%;
    border-radius: 27px;
    background-color: #d9f1e1;
    padding: 0.7rem;
    font-size: 4.7vw;
    border: none;
}
}
@media (min-width:600px) {
    
.chaeckoutpagecontainer{
    background-color: #fcf9f3;
}

.chaeckoutpagecontainer{
    /* padding: 10rem 0rem; */
    padding-top: 10rem;
    padding-bottom: 3rem;
}

.checkoutpageboxs{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 90%;
    margin: auto;
}

.checkoutpagebox{
    width: 48%;

}
.checkoutpageboxheading{
    display: flex;
    justify-content: space-between;
}
.checkoutpageboxheading h3{
   font-size: 1.4vw;
}
.checkoutpagebase{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem;
}
.checkoutpagebase p{
    font-size: 1.6vw;
}
.checkoutpagebase p span{
    font-size: 1.2vw;
    
}

.checkboxsigninbutton{
    padding-bottom: 1rem;
}

.forminput p{
    font-size: 1.7vw;
}

.checkoutform{
    padding-bottom:1rem;
    border-bottom: 1px solid black;
}
.selectform{
    width: 100%;
    padding: 0.4rem;
    border: none;
    background-color: transparent;
    font-size: 1.7vw;
    font-weight: 500;
    margin: 0.5rem 0rem;
}
.selectform h4{
    padding: 1rem 0rem;
}
.applycupan{
    display: flex;
    justify-content: space-between;
}
.applycupan input{
    width: 70%;
    padding: 0.3rem;
    border-radius: 12px;
    border: none;
}
.applycupan span{
    font-size: 1.7vw;
    background-color: #d9f1e1;
    border-radius: 27px;
    padding: 0.6rem 1rem;

}

.checkoutform123{
    margin: 2rem 0rem;
}
.checkoutform123 button{
    width: 100%;
    border-radius: 27px;
    background-color: #d9f1e1;
    padding: 0.7rem;
    font-size: 1.7vw;
    border: none;
}
}