@media (min-width:0px) and (max-width:600px) {
    
    
.sec7container{
    width: 90%;
    margin: auto;
    padding: 4rem 0rem;
}
.sec7boxs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sec7box{
    width: 100%;
    position: relative;
}
.sec7box1{
    width: 100%;
    position: relative;
}

.sec7box h2{
    font-size: 8vw;
    font-weight: 500;
    padding: 1rem 0rem;
}
.sec7box p{
    font-size: 3.7vw;
    font-weight: 500;
    color: cadetblue
    
}
#testimonialheading{

    padding-top: 2rem;
    color: black;
    font-size: 4.6vw;
}

.sec7box2container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sec7box2box{
    background-color: white;
    padding: 0.9rem;
    margin: 0.5rem;
    width: 100%;
    border-radius: 12px;
    box-shadow: 1px 1px 12px 1px rgb(217, 217, 225);
}
.sec7box2box p{
   
    font-size: 3.7vw;
    font-weight: 500;
    color: cadetblue
}

.sec7box2box p {
display: flex;
justify-content: space-between;
align-items: center;
}
.sec7box2box p span img{
    width: 10vw;
    margin: 2.2vw;

}
.sec7box2box p span i{

   font-size: 5.42vw;
   color: orange;
   margin: 0rem 0.1rem;

}
.sec7box2box p span {

   font-size: 4.3vw;
  

}

.sec7testimonialgroupsimg{
    display: flex;
    padding: 1rem;
}
.testimonialgroupimg{
    /* background-color: blue; */
    border-radius: 100%;
    width: 2.4rem;
    /* margin-top: 1rem; */
    margin-left: -1rem;
}
.testimonialgroupimg1{
    background-color: rgb(242, 242, 247);
    border-radius: 100%;
    width: 3rem;
    /* margin-top: 1rem; */
    margin-left: -1rem;
    color: rgb(79, 37, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    
}
.testimonialgroupimg img{
    width: 100%;

    
}

}

@media (min-width:600px) {

    
.sec7container{
    width: 90%;
    margin: auto;
    padding: 4rem 0rem;
}
.sec7boxs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec7box{
    width: 39%;
    position: relative;
}
.sec7box1{
    width: 59%;
    position: relative;
}

.sec7box h2{
    font-size: 4vw;
    font-weight: 500;
    padding: 1rem 0rem;
}
.sec7box p{
    font-size: 1.2vw;
    font-weight: 500;
    color: cadetblue
    
}
#testimonialheading{

    padding-top: 2rem;
    color: black;
    font-size: 1.4vw;
}

.sec7box2container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec7box2box{
    background-color: white;
    padding: 0.9rem;
    margin: 0.5rem;
    width: 49%;
    border-radius: 12px;
    box-shadow: 1px 1px 12px 1px rgb(217, 217, 225);
}
.sec7box2box p{
   
    font-size: 1.2vw;
    font-weight: 500;
    color: cadetblue
}

.sec7box2box p {
display: flex;
justify-content: space-between;
align-items: center;
}
.sec7box2box p span img{
    width: 3rem;
    margin: 1rem;

}
.sec7box2box p span i{

   font-size: 1.42vw;
   color: orange;
   margin: 0rem 0.3rem;

}
.sec7box2box p span {

   font-size: 1.3vw;
  

}

.sec7testimonialgroupsimg{
    display: flex;
    padding: 1rem;
}
.testimonialgroupimg{
    /* background-color: blue; */
    border-radius: 100%;
    width: 3rem;
    /* margin-top: 1rem; */
    margin-left: -1rem;
}
.testimonialgroupimg1{
    background-color: rgb(242, 242, 247);
    border-radius: 100%;
    width: 3rem;
    /* margin-top: 1rem; */
    margin-left: -1rem;
    color: rgb(79, 37, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    
}
.testimonialgroupimg img{
    width: 100%;

    
}

    

}