@media (min-width:0px) and (max-width:600px) {
    
    .sec2containerboxs{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        padding: 3rem 0rem;
        flex-wrap: wrap-reverse;
    }
    
    .sec2containerbox1{
        width: 100%;
        position: relative;
    }
    
    .sec2containerbox1 h2{
        font-size: 6vw;
        padding: 2vw 0rem;
    }
    .sec2containerbox1 .p{
        color: #9d88b1;
        font-size: 3.5vw;
        padding: 1vw 0.3vw;
        width:100% ;
        font-weight: 500;
    }
    
    .sec2containerbox2{
        width: 80%;
    }
    .sec2mainimg{
        /* padding: 2rem; */
        margin: 2rem;
    }
    .sec2containerbox2 img{
        width: 100%;
    }

    .sec2cardbox{
        width: 50%;
    }
    
    .sec2cardbox p{
        padding: 0.6rem 0.5rem;
        font-weight: 500;
        font-size: 3.4vw;
    }
    
    
    
    .sec2cardboxs{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .sec2cardbox{
        display: flex;
    }
    .sec2cardimg{
        width: 30vw;
        margin: 0.3rem;
        padding: 0.3rem;
    }
    .sec2cardimg img{
        width: 100%;
        /* margin: 0.3rem; */
    }

}
@media (min-width:600px)  {
 
    .sec2containerboxs{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        padding: 3rem 0rem;
    }
    
    .sec2containerbox1{
        width: 60%;
        position: relative;
    }
    
    .sec2containerbox1 h2{
        font-size: 3.2vw;
        padding: 2vw 0rem;
    }
    .sec2containerbox1 .p{
        color: #9d88b1;
        font-size: 1.2vw;
        padding: 1vw 0.3vw;
        width:80% ;
        font-weight: 500;
    }
    
    .sec2containerbox2{
        width: 38%;
    }
    .sec2mainimg{
        /* padding: 2rem; */
        margin: 2rem;
    }
    .sec2containerbox2 img{
        width: 100%;
    }
    
    .sec2cardbox p{
        padding: 0.6rem 0.5rem;
        font-weight: 500;
        font-size: 1.2vw;
    }
    
    
    
    .sec2cardboxs{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sec2cardbox{
        display: flex;
    }
    .sec2cardimg{
        width: 12vw;
        margin: 0.3rem;
        padding: 0.3rem;
    }
    .sec2cardimg img{
        width: 100%;
        /* margin: 0.3rem; */
    }
    
}