
@media (min-width:0px) and (max-width:990px) {


    .cardbutton{
        display: none;
    }

    .navbarlinks{
        display: none;
    }
    .navbarbutton{
        display: none;
    }

    .navmenubar {
        background-color: #fcf9f3;
        /* background-color: rgb(211, 211, 216); */
        padding: 0.5rem;
        border-radius: 7px;
        color: black;
    }
    .navmenubar:hover {
       cursor: pointer;
       background-color: rgb(32, 31, 31);
        

    }
    .navmenubar .menulogo{
        font-size: 1.6rem;
        color: black;

    }


  .navbarcontainer{
    box-shadow: 1px 1px 12px 1px rgb(156, 156, 175);
    z-index: 10;
    position: fixed;
    width: 100%;
    background-color: white;

}
.navbarboxs{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 1.5vw 0.3rem;
    align-items: center;
    
}

.navbarlinks ul{
    display: flex;
}
.navbarlinks ul li{
    margin: 0.4rem;
    list-style: none;
}
.navbarlinks ul a{
    margin: 0.4rem;
    text-decoration:none;
    color: black;
    font-weight: bold;

}

.navlogoimg{
    width: 3.4rem;
}
.navlogoimg img{
    width: 100%;
}


.navbarbutton button{
    padding: 0.7rem 1rem;
    border-radius: 35px;
    background-color: #ecdec1;
    color: black;
    border: none;
    font-size: 1.2rem;

}


  
}

@media (min-width:990px)  {

    .navbarbox1{
        display: none;
    }


    .navmenubar{
        display: none;
    }

 .navbarcontainer{
    box-shadow: 1px 1px 12px 1px rgb(156, 156, 175);
    z-index: 10;
    position: fixed;
    width: 100%;
    background-color: white;

}
.navbarboxs{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 1.5rem 0.3rem;
    align-items: center;
    
}

.navbarlinks ul{
    display: flex;
}
.navbarlinks ul li{
    margin: 0.4rem;
    list-style: none;
}
.navbarlinks ul a{
    margin: 0.4rem;
    text-decoration:none;
    color: black;
    font-weight: bold;

}

.navlogoimg{
    width: 3.4rem;
}
.navlogoimg img{
    width: 100%;
}


.navbarbutton button{
    padding: 0.7rem 1rem;
    border-radius: 35px;
    /* background-color: #8e8e90; */
    background-color:rgb(236, 222, 193);
    color: black;
    border: none;
    font-size: 1.2rem;

}


   
}


.navilogo{
    /* background-color: blue; */
    border: 1px solid black;
    color: black;
    font-size: 1.5vw;
    padding: 0.5rem ;
    width: 1rem;
    height: 1rem;
    margin: 0.3rem;
    border-radius: 100%;
}
.navilogo:hover{
   color: blue;
}
.contactnavbox{
    display: flex;
}
.cardbutton{
    margin: 0rem 1rem ;
}
