@media (min-width:0px) and (max-width:600px) {
    

    .sec8maincontainer{
        background-color: #fdfcf9;
    }

    
    .sec8container{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem 0rem;
        flex-wrap: wrap;
    }
    .sec8box{
        width: 100%;
        margin: 0.4rem;
    }
    .sec8boxs{
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sec8box1{
        background-color: white;
        border-radius: 18px;
        /* width: vw; */
        /* height: 18vw; */
        position: relative;
        box-shadow: 1px 1px 12px 1px rgb(213, 213, 223);
        margin: 1rem;
    }
    
    .sec8box1img{
        width: 14vw;
        margin: auto;
        margin: 1rem 3rem;
    }
    .sec8box1img img{
        width: 100%;
    }
    .sec8box1 p{
        font-size: 4.5vw;
        padding: 1.1rem ;
        text-align: center;
        font-weight: 500;
    }
    
    
    .sec8box h2{
        font-size: 5.4vw;
        padding: 1rem 0rem;
    
    }
    .sec8box .secboxp{
        font-size: 4.3vw;
        padding: 1rem 0rem;
        font-weight: 500;
        color: #9c9ccc;
    
    }

}
@media (min-width:600px) and (max-width:1000px) {
    
   
    .sec8maincontainer{
        background-color: #fdfcf9;
    }
    .sec8container{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4rem 0rem;
    }
    .sec8box{
        width: 49%;
        margin: 0.4rem;
    }
    .sec8boxs{
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sec8box1{
        background-color: white;
        border-radius: 18px;
        width: 18vw;
        height: 19vw;
        position: relative;
        box-shadow: 1px 1px 12px 1px rgb(213, 213, 223);
        margin: 1vw;
    }
    
    .sec8box1img{
        width: 7vw;
        margin: 1vw auto;
        /* margin: 1rem 3rem; */
    }
    .sec8box1img img{
        width: 100%;
    }
    .sec8box1 p{
        font-size: 2.2vw;
        padding: 1.1vw ;
        text-align: center;
        font-weight: 500;
    }
    
    
    .sec8box h2{
        font-size: 3vw;
        padding: 1rem 0rem;
    
    }
    .sec8box .secboxp{
        font-size: 1.3vw;
        padding: 1rem 0rem;
        font-weight: 500;
        color: #9c9ccc;
    
    }

}
@media (min-width:1000px)  {
 
    
    
    .sec8maincontainer{
        background-color: #fdfcf9;
    }
    .sec8container{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4rem 0rem;
    }
    .sec8box{
        width: 49%;
        margin: 0.4rem;
    }
    .sec8boxs{
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sec8box1{
        background-color: white;
        border-radius: 18px;
        width: 14rem;
        height: 16rem;
        position: relative;
        box-shadow: 1px 1px 12px 1px rgb(213, 213, 223);
        margin: 1rem;
    }
    
    .sec8box1img{
        width: 6rem;
        margin: auto;
        margin: 1rem 3rem;
    }
    .sec8box1img img{
        width: 100%;
    }
    .sec8box1 p{
        font-size: 1.5rem;
        padding: 1.1rem ;
        text-align: center;
        font-weight: 500;
    }
    
    
    .sec8box h2{
        font-size: 3vw;
        padding: 1rem 0rem;
    
    }
    .sec8box .secboxp{
        font-size: 1.3vw;
        padding: 1rem 0rem;
        font-weight: 500;
        color: #9c9ccc;
    
    }

}